Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  performance-*,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-use-auto,
  modernize-use-emplace,
  modernize-loop-convert,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-slicing,
  misc-unused-using-decls,

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*\.h$'

CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: '8'

FormatStyle: none
