<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundleName</key>
    <string>Rclone Browser NG</string>
    <key>CFBundleDisplayName</key>
    <string>Rclone Browser NG</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>rclone-browser</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.sysadmindoc.rclonebrowserng</string>
    <key>UIDesignRequiresCompatibility</key>
    <true/>
</dict>
</plist>
